{
  "kafka-secrets": {
    "username": "your-username",
    "password": "your-password"
  },
  "resend": {
    "api-key": "re_your_api_key_here"
  },
  "groq": {
    "api-key": "gsk_your_api_key_here"
  },
  "jwt": {
    "secret": "your-secret-key-min-32-characters-change-this"
  }
}
